TranslatorWeb/Web References/WebServiceBank/WebServiceBank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SharkLoans.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SharkLoans.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SharkLoans.com">
      <s:element name="ProcessLoanRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creditScore" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessLoanRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessLoanRequestResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessLoanRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessLoanRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessLoanRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessLoanRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBankSoap">
    <wsdl:operation name="ProcessLoanRequest">
      <wsdl:input message="tns:ProcessLoanRequestSoapIn" />
      <wsdl:output message="tns:ProcessLoanRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBankSoap" type="tns:WebServiceBankSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessLoanRequest">
      <soap:operation soapAction="http://SharkLoans.com/ProcessLoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBankSoap12" type="tns:WebServiceBankSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessLoanRequest">
      <soap12:operation soapAction="http://SharkLoans.com/ProcessLoanRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBank">
    <wsdl:port name="WebServiceBankSoap" binding="tns:WebServiceBankSoap">
      <soap:address location="http://localhost:59915/WebServiceBank.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBankSoap12" binding="tns:WebServiceBankSoap12">
      <soap12:address location="http://localhost:59915/WebServiceBank.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>