RuleBaseFetcher/Service References/RuleBaseService/RuleBaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddABank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jSonRepOfBank" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddABankResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveABank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jSonRepOfBank" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveABankResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBanks">
        <s:complexType />
      </s:element>
      <s:element name="GetBanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddABankSoapIn">
    <wsdl:part name="parameters" element="tns:AddABank" />
  </wsdl:message>
  <wsdl:message name="AddABankSoapOut">
    <wsdl:part name="parameters" element="tns:AddABankResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveABankSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveABank" />
  </wsdl:message>
  <wsdl:message name="RemoveABankSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveABankResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanks" />
  </wsdl:message>
  <wsdl:message name="GetBanksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksResponse" />
  </wsdl:message>
  <wsdl:portType name="RuleBaseServiceSoap">
    <wsdl:operation name="AddABank">
      <wsdl:input message="tns:AddABankSoapIn" />
      <wsdl:output message="tns:AddABankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveABank">
      <wsdl:input message="tns:RemoveABankSoapIn" />
      <wsdl:output message="tns:RemoveABankSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanks">
      <wsdl:input message="tns:GetBanksSoapIn" />
      <wsdl:output message="tns:GetBanksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleBaseServiceSoap" type="tns:RuleBaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddABank">
      <soap:operation soapAction="http://tempuri.org/AddABank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveABank">
      <soap:operation soapAction="http://tempuri.org/RemoveABank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanks">
      <soap:operation soapAction="http://tempuri.org/GetBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RuleBaseServiceSoap12" type="tns:RuleBaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddABank">
      <soap12:operation soapAction="http://tempuri.org/AddABank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveABank">
      <soap12:operation soapAction="http://tempuri.org/RemoveABank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanks">
      <soap12:operation soapAction="http://tempuri.org/GetBanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleBaseService">
    <wsdl:port name="RuleBaseServiceSoap" binding="tns:RuleBaseServiceSoap">
      <soap:address location="http://localhost:50854/RuleBaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="RuleBaseServiceSoap12" binding="tns:RuleBaseServiceSoap12">
      <soap12:address location="http://localhost:50854/RuleBaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>